{% load navigation %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top shadow pt-0 pb-0 d-print-none">
    <div class="container">
        <a class="navbar-brand" href="{% url 'gimstickets:index' %}">Билеты ГИМС</a>
        <span class="navbar-text">учи на диване! 😉</span>
    </div>
</nav>
