{% extends './base.html' %}{% load bootstrap4 html %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Комплекты</li>
    </ol>
</nav>

<h1>Выберите комплект билетов.</h1>
<table class="table">
    <tbody>
    {% for kit in kits %}
        <tr>
            <td class="text-nowrap"><a href="{% url 'gimstickets:tickets' kit_id=kit.id %}">{{ kit }}</a></td>
            <td><a href="{% url 'gimstickets:tickets' kit_id=kit.id %}" class="text-body text-decoration-none">{{ kit.description }}</a></td>
        </tr>
    {% endfor%}
    </tbody>
</table>
{% endblock %}
