{% extends './base.html' %}{% load static %}

{% block style_page %}
<style type="text/css">
.form-check-label {
    width: 100%;
}

@media print {
    .container {
        width: 100%;
        max-width: 100%;
    }
}
</style>
{% endblock %}

{% block content %}
{% get_static_prefix as STATIC_PREFIX %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'gimstickets:index' %}">Комплекты</a></li>
        <li class="breadcrumb-item"><a href="{% url 'gimstickets:tickets' kit_id=kit.id %}">{{ kit }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Билет {{ ticket }}</li>
    </ol>
</nav>

<h1>Билет {{ ticket }}</h1>
{% regroup answers by question as question_list %}

<div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
{% for question in question_list %}
    {% with question.grouper.number as number %}
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ number }}. {{ question.grouper }}</h5>
                <div class="text-center">
                    <img class="img-fluid" alt="{{ question.grouper.id }}" src="{{ STATIC_PREFIX }}gimstickets/pictures/{{ question.grouper.picture }}">
                </div>
                <div>
                {% for answer in question.list %}
                    <div class="form-check mb-2">
                        <input class="form-check-input {{ answer.is_correct|yesno:'correct,' }}" type="radio" name="question-{{ number }}" id="answer-{{ answer.id }}">
                        <label class="form-check-label pb-3 border-bottom" for="answer-{{ answer.id }}">
                            {{ answer }}
                        </label>
                    </div>
                {% endfor %}
                </div>
                <button class="btn btn-sm btn-outline-secondary mx-3" onclick="answer(this, {{ number }})">показать правильный ответ</button>
            </div>
        </div>
    </div>
    {% endwith %}
{% endfor %}
</div>

{% if next_ticket %}
<div class="text-center mb-5">
    <a href="{% url 'gimstickets:ticket' kit_id=kit.id ticket=next_ticket %}" class="btn btn-secondary btn-lg">Следующий билет >> {{ next_ticket }}</a>
</div>
{% endif %}

{% endblock %}


{% block javascript_page %}
<script>
function answer(button, question) {
    let inputs = document.querySelectorAll('input[name="question-' + question + '"]');
    for (let input of inputs) {
        let label = input.labels[0];
        if (!input.classList.contains('correct')) {
            label.classList.add('text-decoration-line-through');
        }
        if (input.checked) {
            label.classList.add('fw-bold');
            if (input.classList.contains('correct')) {
                label.classList.add('text-success');
            }
            else {
                label.classList.add('text-danger');
            }
        }
        // input.disabled = true;
    }
    button.disabled = true;
}
</script>
{% endblock %}
