{% extends './base.html' %}{% load bootstrap4 html %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'gimstickets:index' %}">Комплекты</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ kit }}</li>
    </ol>
</nav>

<h1>Выберите один из билетов.</h1>
<ul>
{% for ticket in tickets %}
    <li>
        <a href="{% url 'gimstickets:ticket' kit_id=kit.id ticket=ticket %}">Билет {{ ticket }}</a>
    </li>
{% endfor%}
</ul>
{% endblock %}
